TestMain/src/META-INF/wsdl/WS_Agregador2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://webservices.agregador1.test" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.agregador1.test">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.agregador1.test">
            <xs:element name="listaNegra">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="movil" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="accion" type="xs:int"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listaNegraResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="darBaja">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="movil" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="Servicio" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mCort" type="xs:int"/>
                        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="darBajaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="darBajaRequest">
        <wsdl:part element="ns:darBaja" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="darBajaResponse">
        <wsdl:part element="ns:darBajaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listaNegraRequest">
        <wsdl:part element="ns:listaNegra" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listaNegraResponse">
        <wsdl:part element="ns:listaNegraResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="WS_Agregador2PortType">
        <wsdl:operation name="darBaja">
            <wsdl:input message="ns:darBajaRequest" wsaw:Action="urn:darBaja"/>
            <wsdl:output message="ns:darBajaResponse" wsaw:Action="urn:darBajaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listaNegra">
            <wsdl:input message="ns:listaNegraRequest" wsaw:Action="urn:listaNegra"/>
            <wsdl:output message="ns:listaNegraResponse" wsaw:Action="urn:listaNegraResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_Agregador2Soap11Binding" type="ns:WS_Agregador2PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="darBaja">
            <soap:operation soapAction="urn:darBaja" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaNegra">
            <soap:operation soapAction="urn:listaNegra" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WS_Agregador2Soap12Binding" type="ns:WS_Agregador2PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="darBaja">
            <soap12:operation soapAction="urn:darBaja" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaNegra">
            <soap12:operation soapAction="urn:listaNegra" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WS_Agregador2HttpBinding" type="ns:WS_Agregador2PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="darBaja">
            <http:operation location="darBaja"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaNegra">
            <http:operation location="listaNegra"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_Agregador2">
        <wsdl:port binding="ns:WS_Agregador2Soap11Binding" name="WS_Agregador2HttpSoap11Endpoint">
            <soap:address location="http://localhost:8090/axis2/services/WS_Agregador2.WS_Agregador2HttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:WS_Agregador2Soap12Binding" name="WS_Agregador2HttpSoap12Endpoint">
            <soap12:address location="http://localhost:8090/axis2/services/WS_Agregador2.WS_Agregador2HttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:WS_Agregador2HttpBinding" name="WS_Agregador2HttpEndpoint">
            <http:address location="http://localhost:8090/axis2/services/WS_Agregador2.WS_Agregador2HttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
